@import "./fonts.css";
@import "./tailwind.css";

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,
body {
  cursor: default;

  width: 100vw;
  min-height: 100vh;

  font-family: "Pretendard", sans-serif;
  font-size: 14px;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
