@import "./fonts.css";
@import "./tailwind.css";
@import "primeicons/primeicons.css";

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,
body {
  cursor: default;

  width: 100vw;

  font-family: "Pretendard", sans-serif;
  font-feature-settings: "ss06";
  word-break: keep-all;
  font-size: 14px;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--p-secondary-color);
  text-decoration: underline;
}
