@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/PretendardVariable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "KartriderExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KartriderExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}
